{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
         // 1: warn
        "@typescript-eslint/no-explicit-any": 1,
        "@typescript-eslint/no-unused-vars": 1,
        "no-async-promise-executor": 1,
        "no-console": 1
    }
}
