@import '../vars';

#history-screen {
  button {
    cursor: pointer;
  }
  .head-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-b-color;
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    padding: 0 12px;
    height: 56px;
    background-color: #18181b;

    div {
      display: flex;
      align-items: center;
    }

    .title-sidepanel {
      color: $primary-color;
      font-size: 20px;
      font-weight: 700;
      width: 80px;
      margin: 0px;
    }

    img {
      width: 75px;
      height: 40px;
    }

    button {
      color: $primary-color;
      border: none;
      background-color: transparent;
      padding: 0px;

      #menu-icon {
        width: 40px;
        height: 40px;
      }
    }

    .right-btn-row {
      .custom-tooltip {
        position: absolute;
        margin-left: -100px;
        z-index: 99;

        .content-tooltip {
          padding: 6px 8px;
          border-radius: 4px;
          background-color: #303036;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          p {
            margin: 0px;
            color: #ffff;
          }
        }

        .after-tooltip {
          border-color: transparent transparent transparent #303036;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 4px 0px 4px 4px;
        }
      }
    }

    .go-to-his {
      width: 80px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .body-panel {
    height: calc(100% - 71px);
    .his-chat-panel {
      padding-top: 16px;
      height: 98%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #808080;
        border-radius: 99px;
      }

      .his-chat {
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-end;
        border-bottom: 1px solid #2e2e2f;
        padding: 0 16px;
        position: relative;

        &:hover {
          background: #242428;
        }
        &:hover > .item-his-view-actions {
          display: flex;
        }
  
      
      .item-his-view {
        width: 100%;
        text-align: left;
        color: #c9c9cf;
        background-color: transparent;
        border: none;
        padding: 16px 0px;
        border-bottom: 1px solid $border-b-color;
        font-family: 'Roboto', sans-serif;
        p {
          margin: 0px;
          font-size: 14px;
          margin-top: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          white-space: nowrap;
        }
        .title-item-his-view {
          font-size: 16px;
          color: $primary-color;
          margin-top: 0px;
        }
      }
    .item-his-view-actions {
          width: 64px;
          display: none;
          justify-content: space-evenly;
          background-color: #3d3d43;
          height: 32px;
          border-radius: 4px;
          align-items: center;
          margin-bottom: 4px;
          flex-shrink: 0;
          right: 16px;
          bottom: 1px;
          position: absolute;

          img#edit-icon {
            width: 18px;
            cursor: pointer;
          }
          img#delete-icon {
            cursor: pointer;
            width: 18px;
          }
        }

        .action-container {
          // display: flex;
          align-items: center;
          width: 176px;
          flex-shrink: 0;
          justify-content: space-between;
          position: absolute;
          right: 16px;
          bottom: 1px;

          & > .edit-confirmation {
            display: flex;
            width: 110px;
            flex-shrink: 0;
            justify-content: space-between;
            margin-bottom: 4px;

            & > button {
              min-width: 49px;
              height: 32px;
              font-size: 14px;
              font-weight: 500;
              color: #e5e5e7;
              flex-shrink: 0;
              text-transform: none;
            }
          }

    .no-data-view {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 250px;
        height: 170px;
      }

      p {
        font-weight: 300;
        font-size: 32px;
        color: #afafb7;
        margin: 8px 0px 38px 0px;
      }

      button {
        color: #ffff;
        background: #fd2f4a;
        border: none;
        font-weight: 500;
        font-size: 14px;
        padding: 10px 12px;
        border-radius: 4px;
      }
    }
  }
}
