// background color
$primary-bg-color: #000;

// text color
$primary-color: #f2f2f3;

// text welcome color
$welcome-color: #7a7a85;

//border bottom color
$border-b-color: #2e2e2f;

// background input color
$primary-input-color: #242428;

// border color
$primary-border-color: #3e3e42;

// my border color
$my-border-color: #800020;

// my background input color
$my-bg-input-color: #3e0e19;

// background icon manager
$bg-icon-manager: #47592b;

// text color manager
$manager-color: #dcd450;

// background icon staff
$bg-icon-staff: #2355a5;

// text color staff
$staff-color: #639ae3;
