@import 'vars';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $primary-bg-color;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
}

#root {
  height: 100%;
}
